pandas~=2.0.3
torch~=2.2.0
numpy~=1.24.3
matplotlib~=3.7.1
requests~=2.31.0
bs4~=0.0.1
beautifulsoup4~=4.12.2
chardet~=5.1.0
streamlit~=1.31.1
netCDF4~=1.6.4
scipy~=1.11.1
audiolazy~=0.6
MIDIUtil~=1.2.1
pillow~=10.2.0
scikit-learn~=1.4.1.post1
midi2audio~=0.1.1
mido~=1.2.10
imagesize~=1.4.1
img2pdf~=0.5.1
opencv-python~=4.8.0.76
openpyxl~=3.1.2
pytesseract~=0.3.10
pdfplumber~=0.10.2
pygame~=2.5.2
